<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ielts-writing/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /ielts-writing/index.html [L]
</IfModule>
